/* HEADER */

header{
    background-color: rgb(22, 72, 159);
}

.contenedor{
    width:90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
    
}

.menu__navegacion{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo{
    height: 30px;
    
}

.logo img{
    display: block;
    height: 100%;
   
}

.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    text-decoration: none;
    color: white;
    padding-left: 10px;

}

a:hover {
    color: lightgray;
    font-weight: bold;
    text-decoration: none;
  }

/* HERO */

.hero{
    height: 650px;
    background-image: url("../img/1-trabajador.jpg");
    background-position:top;
    background-size:cover;
    background-attachment:scroll;
    text-align: center;
}

.contenedor-textos{
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    color: #ffffff;
}

.hero h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ========RESPONSIVE========= */

@media screen and (max-width: 850px) {

    .menu__navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        
    }

    .contenedor{
        height: 90px;
    }

}

@media screen and (max-width: 520px) {
    
    header a{
        display: none;

    }

    .contenedor{
        height: 65px;
    }
    .hero h1{
        font-size: 24px;
      }

}

@media screen and (max-width: 300px) {
    
  .hero h1{
    font-size: 22px;
  }

}
